doctype html
html
  head
    title James Brooks
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='15 y/o Aspiring Web Developer.')
    meta(name='author', content= "James Brooks")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Roboto:100,300,400', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto+Slab:300', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400', rel='stylesheet', type='text/css')
    != css()

  body
    #page
      header#site-head
        .background
          .wrap
            h1 Hi, I'm James
            h3 I'm 15 years old, and I'm a Web developer.
          .scroll
            p scroll down
            img.arrow(src="img/arrow.png")
      main
        block content
