
@media (max-width: 900px) {
  .wrap {
    width: auto !important;
  }

  #site-head {
    height: 600px !important;
  }

  #projects .project {
    margin: 10px !important;
    width: auto !important;
    .browser {
      margin: 10px !important;
      width: auto !important;
      max-width: inherit !important;
    }
    .info-container {
      margin: 10px !important;
      display: block !important;
      float: left !important;
    }
  }

  #hackthehols .wrap {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }

  #skills {
    h1 {
      display: block !important;
      margin-left: 0px !important;
    }
    #skills-list {
      margin-top: 30px !important;
      padding: 50px 0px !important;
      li {
        float: none !important;
        margin: -30px 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    #descriptions {
      columns: 1 !important;
      -moz-columns: 1 !important;
      -webkit-columns: 1 !important;
      max-width: 300px !important;
      p {
        margin: 20px 0px 50px !important;
        font-size: 3vw !important;
      }
    }
  }

  #footer .wrap {
    display: block;
    margin: 50px 120px;
    .left {
      margin: 0 auto;
      display: block;
      max-width: none;
      form {
        input {
          max-width: none;
        }
        textarea {
          max-width: none;
        }
        .button {
          padding: 8px 0px;
          width: 100%;
        }
      }
    }
    .right {
      margin: 0 auto;
      display: block;
      max-width: none;
    }
  }
}

@media (max-width: 500px) {
  #site-head {
    h1 {
      font-size: 12vw !important;
    }
    h3 {
      font-size: 4.5vw !important;
    }
  }

  #skills {
    #descriptions {
      p {
        font-size: 5.3vw !important;
      }
    }
  }
}

